body{
    font-family: Arial;
    background:#f4f4f4;
    margin:0;
}

.container{
    width:500px;
    margin:50px auto;
    background:white;
    padding:20px;
    border-radius:5px;
}

h1{
    color:green;
}

.info-box{
    background:#f9f9f9;
    padding:15px;
    border-left:4px solid green;
}

footer{
    text-align:center;
    color:gray;
}